doctype html
html
	head
		title Vasket! :: 관리자 로그인
	body
		form(method='post' action='/go_console')
			p(style='display: inline;') ID
			input(type='text' name='id' maxlength='15')
			p(style='display: inline;') PW
			input(type='password' name='pw' maxlength='15')