doctype html
html
	head
		title Vasket! :: 관리자 로그인
	body
		form(method='post' action='/go_console')
			p(style='display: inline; width: 20px;') ID
			input(type='text' name='id' maxlength='15')
			br
			p(style='display: inline; width: 20px;') PW
			input(type='password' name='pw' maxlength='15')
			br
			input(type='submit' value='LOGIN')