doctype html
html
	head
		title Vasket! :: 관리자 로그인
	body
		form(method='post' action='/admin_console')
			div(style='width: 30px; display: inline-block;') ID
			input(type='text' name='id' maxlength='15')
			br
			div(style='width: 30px; display: inline-block;') PW
			input(type='password' name='pw' maxlength='15')
			br
			input(type='submit' value='LOGIN')