extends layout

block style
  style(type='text/css').
    #basket {background-color: #ffffff; padding-top: 10px; padding-left: left;width: 100%;margin-bottom: 15px;}
    table tr td {text-align: right;}
    #basket_ {background-color: #ffffff; width: 100%; padding-top:7px; padding-left: 7px; border-style: solid; border-color: #ff0000; border-width: 1px; border-bottom-width: 0px;}
    #basket_end {background-color: #ffffff; width: 100%; padding-left: 7px; padding-top: 7px; padding-bottom: 10px;border-style: solid; border-color: #ff0000; margin-bottom: 15px;border-width: 1px;}
    button.btn {width: 100%;}
    table {border: solid; border-color:#A6A6A6;border-width: 1px;}

block content
  p 장바구니는 최대 60일간 보관되며, 딜종료시 사라집니다.
  form.form-inline
    input(type='checkbox')
    |  전체선택
    #basket.col-xs-12
      .col-xs-1
        input(type='checkbox')
      .col-xs-3
        img(src='../../public/images/basic.jpg', width='100%')
      .col-xs-7
        h5 상품 소개란!! 특가!!
        h6
          red 0$
        br
      .col-xs-12
        hr
        table.table
          thead
            tr
              th 상품합계
          tr
            td
              red 0$
      br
    #basket_.col-xs-12
      .col-xs-12
        h5 결제금액
    #basket_.col-xs-12
      .col-xs-11
        p 주문금액
      .col-xs-1
        p 0$
      .col-xs-11
        p 배송비
      .col-xs-1
        p 0$
    #basket_end.col-xs-12
      .col-xs-11
        h4
          red 결제예정금액
      .col-xs-1
        h4
          red 0$
    button.btn.btn-danger(type='submit') 구매하기
