doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {background-color: #f6f6f6; padding-bottom: 20px;}
      #nav {background-color: #ffffff; padding-top: 7px; padding-left: 10px; padding-bottom: 7px; text-align: center;border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; margin-bottom:10px;}
       #nav span {float: left; font-size: 20px; padding-top: 9px; color:black;}
      #imgSec {background-color:#ffffff; width:100%; margin-bottom:10px;}
      #communityBrand { background-color:#ffffff; width:100%;vertical-align:center; height:50px; padding-top:10px;}
      #communityBrand span {float:left; padding-top:10px;border-style:solid; border-width:3px; border-color:#747474; background-color:#ffffff; border-radius:50%; padding:5px;margin-right:10px;}
      #communityContent {background-color:#ffffff; width:100%;vertical-align:center;}
      #imgSec #cameraImg:active {background-color:#bbbbbb;}
  body
    #nav.col-xs-12
      a(href='javascript:history.back()')
        span.glyphicon.glyphicon-arrow-left
      input(type="submit" value="등록" style="font-weight:bold; float:right; background-color:#ffffff; border-style:solid; border-radius:5px; border-width:3px; border-color:#747474; margin-top:8px;")
      h4 &nbsp;&nbsp;&nbsp;아이템
      

    #imgSec.col-xs-12
      center
        a()
          img#cameraImg(src="./images/camera-icon.png" style="width:50px; border-style:solid; border-width:5px; border-color:#bbbbbb;  border-radius:5px; padding:5px;")

    #communityBrand.col-xs-12
      .row
        .col-xs-4
          span.glyphicon.glyphicon-tag
          h5(style="font-weight:bold; margin-left:10px;") 브랜드
        .col-xs-8(style="padding-top:6px; border-width:0px; border-style:solid; border-color:#1d8b15; border-bottom-width:2px;")
          input(type="text" style="border-width:0px; width:100%;" placeholder="브랜드 이름을 입력해주세요")
    #communityContent.col-xs-12
      textarea(rows="5" style="border-width:0px; width:100%;" placeholder="간단한 글을 남겨주세요(100자)" maxlength="100")