doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Vasket! :: 관리자 콘솔
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		style(type='text/css').
			body {text-align:center;}
			#content-body { }
			#img-body {}
			#img-plus {}
			.inputImg { width:300px;}
			#inputButton {width:100px;}

	body
		h3 컨텐츠 등록
		form(method="post" action="/reg_content" enctype="multipart/form-data")
			#content-body
				textarea(rows="5" name="content" style="width:800px; max-width:800px;")
			#img-body
				input.inputImg(type="file" name="file0")
				br
			#img-plus
				p(onclick="imgPlus();") 이미지 추가+

			input(type='submit' value='컨텐츠 등록')
		script.
			var num = 1;
			function imgPlus(){
				var before = document.getElementById('img-body').innerHTML;
				var plus ="<input type='file' name='file"+num+"'><br>"
				num++;
				document.getElementById('img-body').innerHTML=before+plus;
			}