doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Vasket! :: 관리자 콘솔
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		style(type='text/css').
			body {text-align:center;}
			#content-body { }
			#img-body {}
			#img-plus {}
			#inputImg { width:300px;}
			#inputButton {width:100px;}

	body
		h3 컨텐츠 등록
		form
			#content-body
				textarea(rows="5" style="width:800px; max-width:800px;")
			#img-body
				input#inputImg(type="text" disabled)
				button#inputButton 등록
				br
			#img-plus
				p(onclick="imgPlus();") 이미지 추가+

		script.
			function imgPlus(){
				var before = document.getElementById('img-body').innerHTML;
				var plus ="<input type='text' id='inputImg' disabled>"+"<button id='inputButton'>등록</button> <br>"
				document.getElementById('img-body').innerHTML=before+plus;
			}