extends layout

block style
  style(type='text/css').
    .bs-example{
    background-color: #ffffff; width: 100%; height:500px; margin-top: 50px; padding-left: 20px; padding-top: 20px;
    }
    .contents {background-color: #ffffff; width: 100%;height:50px;}
block content
  .col-xs-12.contents
    .col-xs-4
      p Brand logo
    .col-xs-8
      h4 Breand Name
      p Brand explain
  br
  .bs-example
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#sectionA') Section A
      li
        a(data-toggle='tab', href='#sectionB') Section B
    .tab-content
      #sectionA.tab-pane.fade.in.active
        h3 Section A
        p
          | Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      #sectionB.tab-pane.fade
        h3 Section B
        p
          | Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.
        br
        br
        ul.nav.nav-pills
          li.active
            a(data-toggle='tab', href='#secA') Section A
          li
            a(data-toggle='tab', href='#secB') Section B
          li
            a(data-toggle='tab', href='#secC') Section C
        .tab-content
          #secA.tab-pane.fade.in.active
            h3 Section A
            p
              | Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
          #secB.tab-pane.fade
            h3 Section B
            p
              | Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.
            br
            br
          #secC.tab-pane.fade
            h3 Section C
            form.form-inline
              input(type='text', size='35', maxlength='100')
              button.btn.btn-default(type='submit') GO
            br
            br