doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {background-color: #f6f6f6; padding-bottom: 20px;}
      #nav {background-color: #FFa800; padding-top: 7px; padding-left: 10px; padding-bottom: 7px; text-align: center;border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;}
      #nav h4 {padding-right: 15px; font-weight:bold; color:#ffffff;}
      #nav span {float: left; font-size: 20px; padding-top: 9px; color:#ffffff;}
      .form-control{ border-color:#ffa800; width:100%;}
      #enrollBlock { width:100%; height:500px; padding-top:200px;}
      #text {text-align: center;}
  body
    #nav.col-xs-12
      a(href='javascript:history.back();')
        span.glyphicon.glyphicon-arrow-left
      h4 회원코드 입력
    #enrollBlock.col-xs-12
      .row
        .col-xs-12
          h5#text 코드를 입력하세요
        .col-xs-12
          input#code.form-control(type="text" name="code")
        .col-xs-offset-4.col-xs-4
          button.btn.btn-warning(onClick="submit();" style="width:100%; margin-top:10px;") 등록

    script.
      function submit(){
        $.ajax({
          type: "POST",
          url: '/reg_code',
          data: {code: $('#code').val()},
          success: function(data) {
            $('text').html(data.text);
            $('text').css("color: "+data.color);
            $('code').val('');
          }
        });
      }