DOCTYPE
HEAD
	<TITLE>JOIN US</TITLE>
BODY
	<FORM action="finish" method="post">
	<TABLE>
	<TR>
	<TD>
	<LABEL>ID</LABEL>
	<INPUT type="text" name="id" id="id" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<LABEL>PW</LABEL>
	<INPUT type="password" name="pw" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<LABEL>E-MAIL</LABEL>
	<INPUT type="text" name="email" id="email" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<LABEL>PHONE</LABEL>
	<INPUT type="text" name="phone" id="phone" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<LABEL>ADDRESS</LABEL>
	<INPUT type="text" name="address" id="address" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<INPUT type="submit" name="submit" id="submit" value="SUBMIT" />
	</TD>
	</TR>
	</TABLE>	
	</FORM>