doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {padding-top: 50px; background-color: #E6E6E6;}
      nav {background-color: #ffa800;}
      .navbar li a {color:#000000;}
      .navbar li a:hover {background-color:#ffa800; color:#000000;}
      .navbar .navbar-toggle {
      border-color: #ffa800;
      }
      .navbar .navbar-toggle:hover,
      .navbar .navbar-toggle:focus {
      background-color: #ffa800;
      }
      .navbar .navbar-toggle .icon-bar {
      background-color: #ffffff;
      }
      .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      }
      .shadow {
        -webkit-box-shadow: 2px 2px 3px 1px #555555;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    2px 2px 3px 1px #555555;  /* Firefox 3.5 - 3.6 */
        box-shadow:         2px 2px 3px 1px #555555;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        border-radius: 1px;
      }
      #footer1 {background-color:#505050; width:100%;text-align:center; color:#ffffff; padding-top:3px !important; padding-bottom:1px;border-width:0px; border-bottom-width:1px; border-color:#ffffff; border-style:solid;}
      #footer3 {background-color:#505050; width:100%;color:#ffffff; padding-top:3px; font-size:5px;}
      #footer3 h6 {font-size:200%; word-break: keep-all;}
      #footer3 h6#copyright {font-size:200%; text-align:center;}
    block style
  body
    .container-fluid
      nav.navbar.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='/images/logo.png', width='90px;')
          #myNavbar.collapse.navbar-collapse.navbar-right
            ul.navbar-right.nav.navbar-nav
              li
                a(href='/') 홈  
              li
                a(href='/service') 서비스
              li
                - if(loggedIn) {
                    a(href='logout')
                      span.glyphicon.glyphicon-log-out
                      |  로그아웃
                - } else {
                    a(href='login')
                      span.glyphicon.glyphicon-log-in
                      |  로그인
                - }
              li
                - if(loggedIn) {
                    a(href='mypage') MY페이지
                - }
    #footer1.col-xs-12
      h6.
        <a href="" style="color:#ffffff">제휴문의</a> | <a href="" style="color:#ffffff">이용약관</a> | <a href="" style="color:#ffffff">개인정보 취급방침</a>
    #footer3.col-xs-12
      .row
        .col-xs-6
          h6.
            |(주)바스켓 |대표이사:김지훈
          h6.
            |통신판매업신고:2015-서울강남-01118
          h6.
            |서울특별시 강남구 도곡로 112, 2층 B2 (도곡동,서한빌딩)
        .col-xs-6
          h6.
            |사업자 등록번호:575-88-00249
          h6.
            |개인정보관리책임자:이상규
          h6.
            |TEL:070-7706-5099 |FAX:0504-849-1379
      .col-xs-12
        h6#copyright &copy; Vasket Co., Ltd. All rights reserved
      block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    block script_content
    script(src='/bootstrap/js/bootstrap.min.js')
