DOCTYPE
HEAD
	<TITLE>LOGIN</TITLE>
BODY
	<FORM action="login_check" method="post">
	<TABLE>
	<TR>
	<TD>
	<LABEL>ID</LABEL>
	<INPUT type="text" name="id" id="id" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	<LABEL>PW</LABEL>
	<INPUT type="password" name="pw" value="" />
	</TD>
	</TR>
	<TR>
	<TD>
	</TR>
	<TR>
	<TD>
	<INPUT type="submit" name="submit" id="submit" value="SUBMIT" />
	</TD>
	</TR>
	</TABLE>	
	</FORM>