doctype html
html(lang='ko-kr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title vasket!
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {
      padding-top: 70px;
      background-color: #ffa800;
      }
      .navbar {
      background-color: #ffa800;
      border: none;
      margin-top: 17px;
      padding-bottom: 50px;
      }
      .navbar-brand
      {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
      }
      #aa {
      border-radius: 20px;
      background-color: white;
      text-align: center;
      }
      #pwd {
      margin-top: 4px;
      margin-bottom: 4px;
      }
      button {
      margin-bottom: 4px;
      margin-top: 4px;
      width: 285px;
      height: 40px;
      }
      input.btn {
      width: 285px;
      height: 35px;
      background-color: #ffa800;
      }
      input.form-control {
      width: 285px;
      }
      .none-prop {width: 0%;}
  body
    .container-fluid
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        a.navbar-brand(href='')
          img(src='./images/login_logo.png')
      br
      br
      br
      #aa.col-sm-offset-4.col-sm-4
        br
        br
        .col-sm-12
          h3 로그인
          p 로그인 하실 계정을 선택해주세요
          hr
          form.form-horizontal(role='form', action='login_check', method='post')
            .col-sm-12
              center
                input.form-control(type='text', name='id', placeholder='facebook 아이디', size='45')
            .col-sm-12
              center
                input.form-control(type='password', name='pw', placeholder='Enter password', size='45')
            .col-sm-12
              input.btn.btn-default(type='submit', value='로그인', size='45')
          .col-sm-12
            hr
            button.btn.btn-default 페이스북으로 로그인
          .col-sm-12
            button.btn.btn-default 다른 SNS 회원가입은 준비중입니다.
            hr
          .col-sm-12
            p
              | 아직 가입 안하셨나요? 
              a(href='') 회원가입
        br
        br
      .col-sm-4.none-prop
