doctype html
html(lang='ko-kr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vasket!
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      body {
      padding-top: 40px;
      background-color: #8200ff;
      }
      #aa {
      border-radius: 20px;
      background-color: white;
      text-align: center;
      margin-top: 40px;
      padding-top: 40px;
      padding-bottom: 60px;
      }
      #pwd {
      margin-top: 4px;
      margin-bottom: 4px;
      }
      button {
      margin-bottom: 4px;
      margin-top: 4px;
      width: 92%;
      white-space: normal !important;
      word-break: keep-all;
      }
      .none-prop {width: 0%;}
  body
    script.
      // This is called with the results from from FB.getLoginStatus().
      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : 883225935107427,
      cookie     : true,  // enable cookies to allow the server to access
      // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use version 2.2
      });
      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.
      };

      function go_signup(){
        FB.getLoginStatus(function(response) {
          if (response.status == 'connected') {
            FB.api(
              '/me',
              'GET',
              {"fields":"id,name,gender,email"},
              function(response) {
                $.ajax({
                  type: 'POST',
                  data: response, 
                  dataType: "JSON",
                  url: '/fb_login',
                  success: function(data) {
                    var form = document.createElement('form');
                    form.setAttribute('method', 'post');
                    form.setAttribute('action', '/signup');
                    for (var key in data) {
                      var hiddenField = document.createElement("input");
                      hiddenField.setAttribute("type", "hidden");
                      hiddenField.setAttribute("name", key);
                      hiddenField.setAttribute("value", data[key]);
                      form.appendChild(hiddenField);
                    }
                    document.body.appendChild(form);
                    form.submit();
                  },
                  error: function(request, status, error) {
                    if (location.hash === "#code")
                      location.href = "/enroll_code";  
                    else
                      location.href = document.referrer;
                  }
                });
              }
            );
          }
        });
      }

      function fb_login(){
      FB.login(function(response) {
      console.log(response);
      console.log('a');
      if (response.authResponse && response.authResponse.grantedScopes.includes("email")) {
        console.log('b');
        go_signup();
      } else {
        console.log('c');
        alert('Vasket 가입을 위해서 Facebook 기본 프로필, 이메일 정보가 필요합니다. 이는 Vasket 회원의 기본 정보(성명, 이메일)의 유효함을 확인하기 위함으로, 자세한 정보는 Vasket 개인정보취급방침을 확인해주시기 바랍니다.');
      }
      }, {
      scope: 'public_profile,email',
      auth_type: 'rerequest',
      return_scopes: true
      });
      }

      // Load the SDK asynchronously
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
    .container-fluid
      center
        a(href='/')
          img(src='/images/login_logo.png' style="width: 300px;")
      #aa.col-sm-offset-2.col-sm-8.col-lg-offset-4.col-lg-4
        .col-sm-12
          h3 로그인
          p(style='word-break: keep-all;') 로그인 하실 계정을 선택해주세요
          .col-sm-12
            //hr
            button.btn.btn-default(style='background-color: #3C5899; color: #FFFFFF;' onClick='fb_login();') 페이스북으로 로그인
          .col-sm-12
            button.btn.btn-default(style='background-color: #EBEBEB;') 다른 SNS 회원가입은 준비중입니다.
          //.col-sm-12
            p
              | 아직 가입 안하셨나요? 
              a(href='signup') 회원가입
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')