extends layout

block style
  style(type='text/css').
    #main_img { width: 100%; }
    body{padding-left:0px; padding-right:0px;}
    #event {width:100%; background-color:#D5D5D5; padding-top:13px; padding-bottom:13px;}
    #about {width: 100%; background-color:#ffffff; ; text-align:center; padding-bottom:10px; padding-top:10px;}
    #footer1 {background-color:#505050; width:100%;text-align:center; color:#ffffff; padding-top:3px !important; padding-bottom:1px;border-width:0px; border-bottom-width:1px; border-color:#ffffff; border-style:solid;}
    #service {position: relative;}
    #footer3 {background-color:#505050; width:100%;color:#ffffff; padding-top:3px; font-size:5px;}
    #footer3 h6 {font-size:200%;}
    #footer3 h6#copyright {font-size:200%; text-align:center;}
    #inner_btn {position: absolute; left: 38%; top: 76%; width: 24%; height: 15%;}
    .icons {
    
         display:block;
         width:120px;
         padding-top:40px;
         background-color:#505050;
         color:#ffffff;
    }

block content
  #event
    .container
      img#main_img(src='/images/main_1.jpg')
  |  &#x9;
  #service
    img#main_img(src='/images/main_banner1.jpg')
    a(href='login')
      #inner_btn
  |  &#x9;
  #about.col-xs-12
    .row
      center
        .col-xs-6
          h6.icons 브랜드 컨텐츠
        .col-xs-6
          h6.icons 브랜드 커뮤니티
    .row
      center
        .col-xs-6
          h6.icons 이벤트 커머스
        .col-xs-6
          h6.icons 최저가+추가할인
  #footer1.col-xs-12
    h6.
      <a href="" style="color:#ffffff">제휴문의</a> | <a href="" style="color:#ffffff">이용약관</a> | <a href="" style="color:#ffffff">개인정보 취급방침</a>
  |  &#x9;
  #footer3.col-xs-12
    .row
      .col-xs-6
        h6|(주)바스켓 &nbsp; |대표이사:김지훈
        h6|통신판매업신고:2015-서울강남-01118
        h6|서울특별시 강남구 도곡동 112, 2층 B2(도곡동,서한빌딩)
      .col-xs-6
        h6|사업자 등록번호:575-88-00249
        h6|개인정보관리책임자:이상규
        h6|TEL:070-7706-5099 &nbsp; |FAX:0504-849-1379
    .col-xs-12
      h6#copyright Vasket co.Ltd. All rights reserved