extends layout

block style
  style(type='text/css') #main_img { width: 100%; }
block content
  #event
  |  &#x9;
  #service
  img#main_img(src='/images/main_1.jpg')
  |  &#x9;
  #about
  img#main_img(src='/images/main_2.jpg')