extends layout

block style
  style(type='text/css').
    #main_img { width: 100%; }
    body{padding-left:0px; padding-right:0px;}
    #event {width:100%; padding-top:13px; padding-bottom:13px;}
    #about {width: 100%; background-color:#ffffff; ; text-align:center; padding-bottom:10px; padding-top:0px;}
    #con1 h6 {font-size:90%; font-weight:bold;}
    #con1 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px;}
    #con2 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-left-width:0px;}
    #con2 h6 {font-size:90%; font-weight:bold;}
    #con3 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-top-width:0px;}
    #con3 h6 {font-size:90%; font-weight:bold;}
    #con4 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-top-width:0px;border-left-width:0px;}
    #con4 h6 {font-size:90%; font-weight:bold;}
    #footer1 {background-color:#505050; width:100%;text-align:center; color:#ffffff; padding-top:3px !important; padding-bottom:1px;border-width:0px; border-bottom-width:1px; border-color:#ffffff; border-style:solid;}
    p {word-break: keep-all;}
    #footer3 {background-color:#505050; width:100%;color:#ffffff; padding-top:3px; font-size:5px;}
    #footer3 h6 {font-size:200%; word-break: keep-all;}
    #footer3 h6#copyright {font-size:200%; text-align:center;}
    .gray {font-size:70%; color:#696969;}
    #con-img {padding-top:13px; }
    .evnet_title { font-weight:bold; color:#ffa800;}
    .small {font-size:70%;}
    .small_1 {font-size:60%; color:#454545;}
    .D-day {width: 100%; padding-top: 10px; padding-bottom: 10px; text-align: center; color:#ffffff; background-color: #3D3D3D; vertical-align: center;
    font-size: 20px;}
    #d-day {}
    button#date-button {float: right; border: none; background-color: #3D3D3D;}
    #service {position: relative;}
    #about {position: relative;}
    #inner_btn {position: absolute; left: 38%; top: 76%; width: 24%; height: 15%;}
    #inner_about1 {position: absolute; left: 15%; top: 30%; width: 35%; height: 30%; }
    #inner_about2 {position: absolute; left: 53%; top: 30%; width: 35%; height: 30%; }
    #inner_about3 {position: absolute; left: 15%; top: 64%; width: 35%; height: 30%; }
    #inner_about4 {position: absolute; left: 53%; top: 64%; width: 35%; height: 30%; }
block content
  #D-day
    .D-day
      button#date-button(onclick='divClose()')
        span.glyphicon.glyphicon-remove
      #d-day
  #event
    .container
      img#main_img(style='box-shadow: 5px 5px 2px 2px #888888;' src='/images/main_1.jpg')
  #service
    img#main_img(src='/images/main_banner1.jpg')
    a(href='login')
      #inner_btn
  #about
    img#main_img(src='/images/service_info.jpg')
    a(href='/service#2')
      #inner_about1
    a(href='/service#1')
      #inner_about2
    a(href='/service#3')
      #inner_about3
    a(href='/service#4')
      #inner_about4
    //- .container
    //-   .col-xs-12
    //-     .col-xs-12
    //-       h2.evnet_title 바스켓 서비스
    //-       p.small 브랜드 전문 회원제 소셜커머스로 현재 배타서비스 기간입니다. 
    //-       p.small ※정식서비스는 현재 준비중입니다.
    //-       p.small_1 (*모바일 화면에 최적화 되어있으니 참고 바랍니다.)
    //-     .row
    //-       #con1.col-xs-6
    //-         .row
    //-           .col-xs-3
    //-             img(src='/images/contents.png' width='44px;' style='margin-left:-10px; margin-top:10px;')
    //-           .col-xs-9
    //-             h6 컨텐츠 큐레이션
    //-             p.gray 고객들의 맞춤 브랜드 컨텐츠 큐레이션
    //-       #con2.col-xs-6
    //-         .row
    //-           #con_img.col-xs-3
    //-             img(src='images/event.png' width='44px;' style='margin-left:-10px; margin-top:10px;')
    //-           .col-xs-9
    //-             h6 이벤트 커머스
    //-             p.gray 그 어느곳에서도 만날 수 없는 새로운 이벤트
    //-     .row
    //-       #con3.col-xs-6
    //-         .row
    //-           #con_img.col-xs-3
    //-             img(src='images/community.png' width='44px;' style='margin-left:-10px; margin-top:10px;')
    //-           .col-xs-9
    //-             h6 커뮤니티
    //-             p.gray 브랜드 정보와 소식을 회원들과 공유
    //-       #con4.col-xs-6
    //-         .row
    //-           #con_img.col-xs-3
    //-             img(src='images/discount.png' width='44px;' style='margin-left:-10px; margin-top:10px;')
    //-           .col-xs-9
    //-             h6 최저가+추가할인
    //-             p.gray 추가할인을 통한 범접할 수 없는 최저가
  #footer1.col-xs-12
    h6.
      <a href="" style="color:#ffffff">제휴문의</a> | <a href="" style="color:#ffffff">이용약관</a> | <a href="" style="color:#ffffff">개인정보 취급방침</a>
  |  &#x9;
  #footer3.col-xs-12
    .row
      .col-xs-6
        h6.
          |(주)바스켓 |대표이사:김지훈
        h6.
          |통신판매업신고:2015-서울강남-01118
        h6.
          |서울특별시 강남구 도곡로 112, 2층 B2 (도곡동,서한빌딩)
      .col-xs-6
        h6.
          |사업자 등록번호:575-88-00249
        h6.
          |개인정보관리책임자:이상규
        h6.
          |TEL:070-7706-5099 |FAX:0504-849-1379
    .col-xs-12
      h6#copyright &copy; Vasket Co., Ltd. All rights reserved

block script_content
  script(src='/javascripts/javascript.js')
