extends layout

block style
  style(type='text/css').
    #main_img { width: 100%; }
    body{padding-left:0px; padding-right:0px;}
    #event {width:100%; padding-top:13px; padding-bottom:13px;}
    #con1 h6 {font-size:90%; font-weight:bold;}
    #con1 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px;}
    #con2 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-left-width:0px;}
    #con2 h6 {font-size:90%; font-weight:bold;}
    #con3 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-top-width:0px;}
    #con3 h6 {font-size:90%; font-weight:bold;}
    #con4 {color:#505050; background-color:#ffffff; border-style:solid; border-color:#d5d5d5;border-width:1px; border-top-width:0px;border-left-width:0px;}
    #con4 h6 {font-size:90%; font-weight:bold;}
    p {word-break: keep-all;}
    .gray {font-size:70%; color:#696969;}
    #con-img {padding-top:13px; }
    .evnet_title { font-weight:bold; color:#ffa800;}
    .small {font-size:70%;}
    .small_1 {font-size:60%; color:#454545;}
    .D-day {position: relative; width: 100%; padding-top: 10px; padding-bottom: 10px; text-align: center; color:#ffffff; background-color: #3D3D3D; vertical-align: center;
    font-size: 20px;}
    #d-day {word-break: keep-all; font-size: 80%;}
    .button {position: absolute; right: 0; top: 6px; margin: 0; padding: 0; width: 32px; height: 30px;}
    button#date-button {float: right; border: none; background-color: #3D3D3D;}
    #service {position: relative;}
    #about {position: relative;}
    .info {position: relative;}
    #inner_btn {position: absolute; left: 38%; top: 76%; width: 24%; height: 15%;}
    #inner_about1 {position: absolute; left: 38.8%; top: 88%; width: 22.5%; height: 7%; }
    #inner_about2 {position: absolute; left: 45.1%; top: 90.4%; width: 9%; height: 6.5%; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img { width:70%; max-width: 1000px; margin:auto;}
    .carousel-control.left, .carousel-control.right {background-image:none;}
    h1, h2, h3, h4, h5, h6 {word-break: keep-all;}
block content
  #D-day
    .D-day
      .button
        button#date-button(onclick='divClose()')
          span.glyphicon.glyphicon-remove
      #d-day
  .info
    img#main_img(src='/images/main_top.jpg')
  #event
    h3 바스켓 스토리
    #myCarousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators(style="margin-bottom:-10px;")
        li.active(data-target="#myCarousel" data-slide-to="0")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
        li(data-target="#myCarousel" data-slide-to="3")
      .carousel-inner(role="listbox")
        .item.active
          a(href='/detail?productNo=1')
            img(src="/images/main_product/main_product_1.jpg")
        .item
          a(href='/detail?productNo=3')
            img(src="/images/main_product/main_product_2.jpg")
        .item
          a(href='/detail?productNo=4')
            img(src="/images/main_product/main_product_3.jpg")
        .item
          a(href='/detail?productNo=5')
            img(src="/images/main_product/main_product_4.jpg")
      a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev" style="margin-top:-10px;").
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
        <span class="sr-only">Previous</span>
      a.right.carousel-control(href="#myCarousel" role="button" data-slide="next" style="margin-top:-10px;").
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
        <span class="sr-only">Next</span>
  //.info
    img#main_img(src='/images/info_1.jpg')
    a(href='/service')
      #inner_about1
  .info.col-xs-12
    h3 서비스 소개
    .col-xs-3
      img(src='/images/service-info_1.png' width="100%")
      h3 브랜드 즐겨찾기
      h6 내가 원하는 브랜드를 즐겨찾기하고 상품, 정보, 이벤트 받아보기
    .col-xs-6
      img(src='/images/service-info_3.png' width="100%")
      h3 브랜드 프리뷰
      h6 간단한 댓글형식의 미니 프리뷰 상품 사진 공유는 포토 프리뷰
    .col-xs-3
      img(src='/images/service-info_2.png' width="100%")
      h3 브랜드 득템
      h6 활동에 따른 포인트 지급으로 브랜드 상품을 득템
  .info.col-xs-12
    h3 주요 기능
    .row
      .col-xs-6.col-sm-3
        img(src='/images/func_1.png' width="50%")
        h4 브랜드 커뮤니티
        h6 관심 브랜드의 사람들과 다양한 정보 네트워킹
      .col-xs-6.col-sm-3
        img(src='/images/func_2.png' width="50%")
        h4 브랜드 간단 프리뷰
        h6 간단 프리뷰 플랫폼으로 쉬운 프리뷰 작성
      .clearfix
      .col-xs-6.col-sm-3
        img(src='/images/func_3.png' width="50%")
        h4 브랜드 포토 프리뷰
        h6 나만의 실제 착용한 사진을 관심 브랜드의 사람들과 공유
      .col-xs-6.col-sm-3
        img(src='/images/func_4.png' width="50%")
        h4 바스켓 코인
        h6 활동에 따른 코인지급으로 이벤트 참여하여 득템
      .clearfix
    .row 
      .col-xs-6.col-sm-3
        img(src='/images/func_5.png' width="50%")
        h4 브랜드 컬렉션
        h6 관심있는 브랜드, 사진을 클립하여 브랜드 컬렉트
      .col-xs-6.col-sm-3
        img(src='/images/func_6.png' width="50%")
        h4 맞춤 디테일 프리뷰
        h6 카테고리별 맞춤 프리뷰 플랫폼을 통한 디테일한 정보 획득
      .clearfix
      .col-xs-6.col-sm-3
        img(src='/images/func_7.png' width="50%")
        h4 브랜드 검색
        h6 브랜드, 브랜드 상품 검색을 통해 내가 원하는 정보 획득
      .col-xs-6.col-sm-3
        img(src='/images/func_8.png' width="50%")
        h4 소셜 로그인
        h6 다양한 SNS를 통한 간단 로그인
      .clearfix

block script_content
  script(src='/javascripts/javascript.js')
