extends layout

block style
  style(type='text/css').
    #box2 {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid; padding-right: 10px;}
    #box2 span {float: right; padding-top: 10px;}
    #box2_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;padding-right: 10px;margin-bottom: 13px;}
    #box2_ span {float: right; padding-top: 10px;}
    #box1_ span {float: right; padding-top: 10px;}
    #box1_ {background-color: #ffffff; width: 100%; padding-top: 4px; padding-left: 10px; padding-bottom: 5px; border-width:0px; border-bottom-width: 1px; border-color: #bbbbbb; border-style: solid;padding-right: 10px;margin-bottom: 13px;margin-top: 13px;}

block content
  .container
    #box1_.col-xs-12
      .row
        .col-xs-2
          h5(style='color:#636363;') ID
        .col-xs-10
          h5(style='float:left;') #{email}
          span.glyphicon.glyphicon-cog
    #box2.col-xs-12(onclick='caution();')
      h5(style='float:left;') 주문목록/배송조회
      span.glyphicon.glyphicon-chevron-right
    #box2_.col-xs-12(onclick='caution();')
      h5(style='float:left;') 취소/반품/환불내역
      span.glyphicon.glyphicon-chevron-right
    #box2.col-xs-12(onclick='caution();')
      h5(style='float:left;') 1:1 문의
      span.glyphicon.glyphicon-chevron-right
    #box2.col-xs-12(onclick='caution();')
      h5(style='float:left;') 고객센터
      span.glyphicon.glyphicon-chevron-right
    #box2_.col-xs-12
      center
        h4 전화문의 070-7706-5099
        h6(style='color:#bbbbbb;') 평일 09-18시 / 주말, 공휴일 휴무