extends layout

block style
  style(type='text/css').
    .D-day {height: 60px; width: 100%; text-align: center; color:#ffffff; background-color: #3D3D3D;
    font-size: 20px;}
    #d-day {padding-top: 17px;}
    #user-id_ {font-size: 20px; margin-left: 5px; margin-top: 5px}
    button#date-button { float: right; border: none; background-color: #3D3D3D; padding-top: 17px;}
    #user-id {margin-top: 20px; background-color: #ffffff; border-radius: 7px; padding-left: 5px; padding-top: 5px; font-size: 20px;}
    #user-management {margin-top: 20px; background-color: #ffffff; border-radius: 7px; padding-top: 17px; font-size: 20px; padding-bottom: 10px; height: 100px;}
    .glyphicon-cog {margin-top: 5px;}
    #menu-right { float: right; border: none; background-color: #ffffff;}
    #menu-right-2 { clear:both; float: right; border: none; background-color: #ffffff;}
    #call-box {background-color: #ffffff; border-radius: 7px; text-align: center; width: 100%; height: 60px; padding-top: 1px; margin-top: 20px;}
    #user-id a, #user-management a {color:#353535;}
block content
  #D-day
    .D-day
      button#date-button(onclick='divClose()')
        span.glyphicon.glyphicon-remove
      p#d-day
  .container
    #user-id
      .row
        .col-xs-1
          img(src='/images/facebook.png', width='35px', height='35px')
        .col-xs-11
          left
            p#user-id_ hoy9090@naver.com
            //#{email}
      //.col-xs-2(padding-left='0px')
        center
          a(href='#')
            span.glyphicon.glyphicon-cog
    #user-management
      .col-xs-10
        p 주문목록/배송조회
      .col-xs-2
        center
          a(href='#')
            span.glyphicon.glyphicon-chevron-right
      hr
      .col-xs-10
        p 취소/반품/환불내역
      .col-xs-2
        center
          a(href='#')
            span.glyphicon.glyphicon-chevron-right
    #user-management
      .col-xs-10
        p 1:1 문의
      .col-xs-2
        center
          a(href='#')
            span.glyphicon.glyphicon-chevron-right
      hr
      .col-xs-10
        p 고객센터
      .col-xs-2
        center
          a(href='#')
            span.glyphicon.glyphicon-chevron-right
    #call-box
      h3 Call : 000-0000
block script_content
  script(src='/javascripts/javascript.js')