doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  body
    p.
                    <center>개인정보 취급방침</center><br>

                    주식회사 바스켓(이하 ‘바스켓’이라고 함)는 최소한의 정보만을 필요한 시점에 수집하며, 수집하는 정보는 고지한 범위 내에서만 사용되며, 사전 동의 없이 그 범위를 초과하여 이용하거나 외부에 공개하지 않습니다.<br>
                    수집된 정보에 대하여 여러분은 충분한 권리를 행사할 수 있습니다.<br>
                    또한, 개인정보 취급방침이 변경되었을 때는 여러분께 항상 알리며, 수시로 확인할 수 있도록 게시하겠습니다.<br>
                    다만, 법령에규정이 있는 경우 또는 수사기관, 행정기관이 법원의 허가서와 함께 요청한 경우에만 내부 절차를 거쳐 최소한의 정보가 동의 없이 제공될 수 있습니다.<br>
                    <br>
                    바스켓은 아래와 같이 개인정보를 보호하고 있습니다.<br>
                    1. 개인정보 수집 이용 보유<br>
                    2. 개인정보의 제3자 제공<br>
                    3. 개인정보의 취급위탁<br>
                    4. 개인정보의 파기절차 및 방법<br>
                    5. 이용자의 권리와 그 행사 방법<br>
                    6. 개인정보 자동 수집 설치/운영 및 거부에 관한 사항<br>
                    7. 개인정보관리책임자 및 담당자의 연락처<br>
                    8. 회사의 정보보호 노력<br>
                    9. 고지의 의무<br>
                     <br>
                    1. 바스켓은 이용하는 서비스의 형태에 따라 다음과 같은 개인정보를 수집 및 이용∙제공∙파기하고 있습니다.
                    ① 정회원<br>
                    <table border="1">
                      <tr>
                        <th colspan="2">분류</th><th>수집방법</th><th>이용목적</th><th>수집항목</th><th>보유,파기</th>
                      </tr>
                      <tr>
                        <td rowspan="7">회원입력정보</td>
                        <td rowspan="6">필수</td>
                        <td>가입</td>
                        <td>서비스 이용 및 상담</td>
                        <td>성명, 생년월일, 연락처(휴대전화번호 또는 전화번호), 이메일, 비밀번호
                        </td>
                        <td>회원 탈퇴시 즉시 삭제<br>
                        단, 아이디인 이메일은 부정이용 이슈 방지를 위해 탈퇴 DB에서 6개월 후 삭제
                        </td>
                      </tr>
                      <tr>
                        <td rowspan="5">구매 및 취소∙환불</td>
                        <td>결제</td>
                        <td>신용카드 : 카드사명, 카드번호<br>
                            휴대전화 : 휴대전화번호, 통신사명<br>
                            계좌이체 : 은행명, 계좌번호<br>
                            무통장입금 : 은행명, 입금자명<br>
                        </td>
                        <td rowspan="4">5년 보관
                            (전자상거래 등에서의 소비자보호에 관한 법률)
                        </td>
                      </tr>
                      <tr>
                        <td>취소∙환불</td>
                        <td>은행명, 계좌번호</td>
                      </tr>
                      <tr>
                        <td>물품배송</td>
                        <td>배송지정보(성명, 연락처, 주소)</td>
                      </tr>
                      <tr>
                        <td>여행상품</td>
                        <td>비상연락처, 실제 사용자 성명</td>
                      </tr>
                      <tr>
                        <td>부정이용 확인 및 방지, 성인인증</td>
                        <td>생년월일, 연락처(휴대전화번호 또는 전화번호), 이메일, 본인확인정보(CI, DI)</td>
                        <td>회원 탈퇴시 즉시 삭제<br>
                          단, 아이디인 이메일, 본인확인정보는 부정이용 이슈 방지를 위해 탈퇴 DB에서 6개월 후 삭제(구매 회원의 경우 5년간 보관)
                        </td>
                      </tr>
                      <tr>
                        <td>선택</td>
                        <td>가입</td>
                        <td>매출분석∙마케팅</td>
                        <td>생년월일, 연락처(휴대전화번호 또는 전화번호), 이메일, 성별</td>
                        <td>회원 탈퇴시 즉시 삭제</td>
                      </tr>
                      <tr>
                        <td rowspan="2">생성정보</td>
                        <td rowspan="2">필수</td>
                        <td>가입 및 서비스 이용</td>
                        <td>서비스 이용 및 부정 이용방지</td>
                        <td>쿠키, 서비스 이용기록(방문일시, IP, 불량 이용 기록 등), 모바일 기기정보(고유기기식별값, OS버전)</td>
                        <td>회원 탈퇴시 즉시 삭제<br>
                            단, IP의 경우 3개월 보관
                            (통신비밀보호법)
                        </td>
                      </tr>
                      <tr>
                        <td>구매 및 연락처 수정</td>
                        <td>본인확인</td>
                        <td>본인확인정보(CI, DI)</td>
                        <td>5년 보관<br>
                        (전자상거래 등에서의 소비자보호에 관한 법률)
                        </td>
                      </tr>
                    </table>
                    <br>
                    ※ “부정이용” : 회원탈퇴 후 재가입, 상품구매 후 구매취소 등을 반복적으로 행하는 등 “바스켓”이 제공하는 할인쿠폰, 이벤트 혜택 등의 경제상 이익을 불·편법적으로 수취하는 행위, 이용약관 등에서 금지하고 있는 행위, 명의도용 등의 불·편법행위 등을 말합니다.
                    ② 소셜미디어 이벤트 참여 회원<br>
                    <table border="1">
                      <tr>
                        <th>분류</th>
                        <th>수집방법</th>
                        <th>수집항목</th>
                        <th>이용목적</th>
                        <th>이용목적</th>
                      </tr>
                      <tr>
                        <td>이벤트 응모</td>
                        <td>소셜미디어 댓글을 통한 직접 참여 또는 이메일 입력 전송</td>
                        <td>이름, 소셜미디어ID</td>
                        <td>당첨자 선정</td>
                        <td rowspan="2">수집된 정보는 바스켓 이벤트 종료 후 30일 이내 파기</td>
                      </tr>
                      <tr>
                        <td>이벤트 당첨</td>
                        <td>이벤트 당첨에 따른 메시지 또는 댓글로 당첨자 직접 입력 송부</td>
                        <td>배송상품 : 이름, 연락처, 주소<br> 
                        문자상품권(기프티쇼) : 이름, 연락처 <br>
                         바스켓 캐시 : 쿠팡ID(이메일), 이름, 연락처 
                        </td>
                        <td>경품 전달</td>
                      </tr>
                    </table>
                    <br>
                    ※ 소셜미디어 이벤트 참여 회원이라 함은 바스켓에서 운영하는 소셜미디어(페이스북, 카카오스토리, 트위터, 인스타그램, 카페 등)에서 진행하는 이벤트에 응모 및 당첨된 회원을 말합니다.<br>
                    ④ 법령에 의하여 수집∙이용되는 회원 정보<br>
                    - 장기 미이용회원은 바스켓을 최종 이용 후 1년 동안 이용 기록이 없는 회원을 말합니다.<br>
                    - 이 회원의 개인정보는 별도로 분리되어 안전하게 보관하게 되며, 대상자에게 안내는 분리 보관 처리일을 기준으로 하여 최소 30일 이전에 이메일로 전송됩니다.<br>
                    - 장기 미이용 회원이 미이용자 DB에 별도 분리전에 지속적으로 바스켓의 서비스를 이용하시고자 하는 경우, 바스켓 웹사이트 또는 모바일앱에 로그인 하시기를 요청 드립니다.<br>
                    - 이용자가 요청시에는 본인의 계정을 재사용하실 수 있습니다.<br>
                    ⑤ 법령에 의하여 수집∙이용되는 회원 정보<br>
                    <table border="1">
                      <tr>
                        <th>보유정보</th>
                        <th>보유기간</th>
                        <th>근거법령</th>
                      </tr>
                      <tr>
                        <td>계약 또는 청약철회 등에 관한 기록</td>
                        <td>5년</td>
                        <td rowspan="4">전자상거래 등에서의 소비자보호에 관한 법률</td>
                      </tr>
                      <tr>
                        <td>대금결제 및 재화 등의 공급에 관한 기록</td>
                        <td>5년</td>
                      </tr>
                      <tr>
                        <td>소비자의 불만 또는 분쟁처리에 관한 기록</td>
                        <td>3년</td>
                      </tr>
                      <tr>
                        <td>표시•광고에 관한 기록</td>
                        <td>6개월</td>
                      </tr>
                      <tr>
                        <td>웹사이트 방문 기록</td>
                        <td>3개월</td>
                        <td>통신비밀보호법</td>
                      </tr>
                    </table>
                    <br>
                    2. 서비스의 제공 또는 법령에 정해진 책임의 준수를 위해 보관하고 있는 개인정보가 제3자 에게 수집 목적 이내에서 제공될 수 있습니다.<br>
                    주문과 결제가 이루어진 경우, 상담 및 배송 등의 원활한 거래이행을 위하여 관련된 정보를 필요한 범위 내에서 판매자(제3자)에게 전달합니다.<br>
                    <table border="1">
                      <tr>
                        <th>제공받는자</th>
                        <th>제공목적</th>
                        <th>제공정보</th>
                        <th>보유 및 이용기간</th>
                      </tr>
                      <tr>
                        <td>쿠폰 상품 제공업체</td>
                        <td rowspan="2">구매자 확인, 해피콜</td>
                        <td rowspan="2">성명, 휴대전화번호</td>
                        <td rowspan="4">재화 또는 서비스의 제공이 완료된 즉시 파기<br>
                        (단, 관계법령에 정해진 규정에 따라 법정기간 동안 보관)
                        </td>
                      </tr>
                      <tr>
                        <td>공연/전시/체험 상품 제공 업체</td>
                      </tr>
                      <tr>
                        <td>배송 상품 제공업체</td>
                        <td>서비스제공, 구매자확인, 해피콜</td>
                        <td>성명, 휴대전화번호(또는 안심번호), 배송지주소, 이메일<br>
                        ※ 구매자와 수취인이 다를 경우에는 수취인의 정보가 수집될 수 있습니다
                        </td>
                      </tr>
                      <tr>
                        <td>여행/레저 상품 제공업체</td>
                        <td>구매자 확인, 해피콜</td>
                        <td>성명, 휴대전화번호, 이메일<br>
                        ※ 구매자와 실사용자가 다를 경우, 실사용자의 정보를 제공할 수 있습니다.<br>
                        ※ 구매한 상품이 실제로 배송되는 경우에는 주소가 수집될 수 있습니다. 
                        </td>
                      </tr>
                    </table> 

                    3. 바스켓은 원활한 서비스 제공과 효과적인 업무처리를 위하여 다음과 같이 개인정보를 처리 위탁하고 있습니다.<br>
                    바스켓은 수탁자들이 위탁한 개인정보를 안전하게 처리하고 있는지 지속적으로 관리 감독하고 있으며, 수탁업무가 종료된 때에 수탁자가 보유하고 있는 개인정보는 즉시 파기하게 하고 있습니다.<br>
                    <table border="1">
                      <tr>
                        <th>구분</th>
                        <th>수탁자</th>
                        <th>위탁업무</th>
                      </tr>
                      <tr>
                        <td>본인확인</td>
                        <td>NICE신용평가정보</td>
                        <td>아이핀을 통한 본인 인증</td>
                      </tr>
                      <tr>
                        <td>배송서비스</td>
                        <td>로젠택배</td>
                        <td>상품 및 경품의 배송</td>
                      </tr>
                      <tr>
                        <td>결제처리/SMS발송</td>
                        <td>LGU</td>
                        <td>신용카드, 휴대폰, 계좌이체, 무통장 입금 (가상계좌) 등을 통한 결제처리, SMS 발송</td>
                      </tr>
                    </table>

                    4. 원칙적으로 바스켓은 수집한 회원님의 개인정보에 대해 보관해야 되는 목적이 달성된 후, 즉시 해당 개인정보를 파기하고 있습니다. 개인정보의 파기 절차, 기한 및 방법은 다음과 같습니다.<br>
                    ① 파기절차<br>
                    수집•이용목적이 달성된 개인정보의 경우 별도의 DB에 옮겨져 내부규정 및 관련 법령을 준수하여 안전하게 보관되며, 정해진 기간이 종료되었을 때, 지체없이 파기됩니다. 이 때, 별도의 DB로 옮겨진 개인정보는 여러분 각자가 동의한 목적을 초과하거나 법률에 정한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br>
                    ② 파기방법<br>
                    - 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.<br>
                    - 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
                    5. 바스켓의 서비스를 이용하는 여러분들은 정보주체로서 다음과 같은 권리를 행사할 수 있습니다.<br>
                    ① 이용자는 언제든지 수집 정보에 대하여 수정, 동의철회 등을 요청하실 수 있습니다. 다만, 동의 철회․삭제시 서비스의 일부 또는 전부 이용이 제한될 수 있습니다.<br>
                    ② (조회/수정 및 정정) 홈페이지에서 메뉴 또는 1:1 상담을 이용하여 처리할 수 있습니다.<br>
                    처리가 완료될 때까지 해당 정보를 이용하거나 타인에게 제공하지 않을 것입니다. 또한 합리적인 사유로 잘못된 개인정보를 제3자에게 이미 제공한 경우, 정정 처리의 결과를 지체 없이 제3자에게 통지하여 정정하도록 조치합니다.<br>
                    ③ (동의 철회/삭제) 1:1 상담을 이용하여 수집 정보에 대한 동의 철회 및 삭제를 요청하실 수 있습니다. 다만, 수집정보에 대한 동의 철회․삭제시 서비스의 일부 또는 전부 이용이 제한될 수 있으며, 다른 법령에 따라 수집하는 정보의 경우에는 동의 철회가 어려울 수 있습니다.<br>
                    ④ (회원 탈퇴) 홈페이지의 메뉴를 이용하여 편리하게 직접 탈퇴를 진행하시거나, 1:1상담을 통하여 진행할 수 있습니다.<br>
                    ⑤ (서비스 재이용) ‘아이디 찾기’를 통하여 미이용자 여부를 확인할 수 있으며, 반드시 비밀번호를 변경하신 후 계정 재이용이 가능합니다. 문의사항은 고객센터 070-7706-5099을 이용하시기 바랍니다.<br>
                    ⑥ (상담/문의) 고객센터를 통한 소비자 상담/문의 시 녹음 등에 대한 안내는 고객센터 상담 전 안내 멘트를 통해 확인하실 수 있습니다.<br>
                    6. 쿠키(Cookie)의 설치, 운영 및 그 거부에 관한 사항을 알려드립니다.<br>
                    ① 쿠키(Cookie)의 정의<br>

                    쿠키(Cookie)는 웹사이트를 운영하는데 이용되는 서버가 이용자의 컴퓨터로 전송하는 아주 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장되고 있습니다. 따라서 여러분 스스로가 쿠키의 설치 및 수집에 대해 자율적으로 선택할 수 있으므로 수집을 거부할 수 있습니다. 다만, 쿠키의 저장을 거부할 경우 로그인이 필요한 일부 서비스의 이용에 제한이 생길 수 있습니다.<br>

                    ② 쿠키 설정 거부 방법<br>
                    <br>
                    1) Internet Explorer의 경우<br>
                    웹 브라우저 상단의 “도구” 메뉴 &gt; “인터넷 옵션” 메뉴 &gt; “개인정보” 탭 &gt; 직접 설정<br>

                    2) Chrome의 경우<br>
                    웹 브라우저 우측 상단의 아이콘 “ ” 선택 &gt; “설정”선택 &gt; 화면 하단의 “고급 설정 표시” 선택 &gt; 개인정보 섹션의 “콘텐츠 설정” 버튼 &gt; 쿠키 섹션에서 직접 설정
                    7. 바스켓은 귀하의 안전한 개인정보 보호를 위해 개인정보 관리책임자를 지정하고 있습니다.<br>
                    ① 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 이용자의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 관리책임자를 지정하고 있습니다.<br>
                    <table border="1">
                      <tr>
                        <th>개인정보 관리책임자</th>
                        <th>개인정보 민원처리 담당부서</th>
                      </tr>
                      <tr>
                        <td>성명 : 김지훈<br>
                        연락처 : 070-7706-5099, help@vasket.co.kr             
                        </td>
                        <td>
                          부서명 : 고객지원센터<br>
                          연락처 : 070-7706-5099, help@vasket.co.kr
                        </td>
                      </tr>
                    </table>          
                    <br>
                    ② 회사가 제공하는 서비스(또는 사업)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 관리책임자 및 고객지원센터로 문의하실 수 있으며, 바스켓은 이런 문의에 대해 지체 없이 답변 및 처리 할 것입니다<br>

                    ③ 개인정보가 침해 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br>
                       ▶ 개인정보 침해신고센터 (한국인터넷진흥원 운영) : (국번없이) 118 / privacy.kisa.or.kr<br>
                       ▶ 정보보호마크 인증 위원회 : 02-550-9531~2 / eprivacy.or.kr<br>
                       ▶ 대검찰청 사이버범죄수사단 : (국번없이) 1301 / www.spo.go.kr<br>
                       ▶ 경찰청 사이버범죄수사단 : 1566-0112 / www.netan.go.kr<br>
                    8. 회사의 정보보호 노력<br>
                    바스켓은 귀하의 개인정보 보호를 위해 아래와 같이 법령에서 요구하는 기준의 준수 외에 아래와 같은 노력을 함께 이루어가고 있습니다.<br>
                    ① 이용자 정보보호를 위한 활동<br>
                    1) 개인정보 취급 직원의 최소화 및 교육<br>
                    개인정보를 취급하는 직원을 지정하고 있으며, 개인정보 처리 업무를 고려한 담당자를 최소화 하며, 지속적인 개인정보보호 교육을 통해 개인정보의 안전한 관리를 위해 최선의 노력을 기하고 있습니다.<br>

                    2) 자체 감사 실시<br>
                    개인정보를 내부적으로 안전하게 다루고 있는지에 대한 기술적 관리적 보호조치 확보를 위해 감사 전담 인력을 채용하여, 주기적인 자체 감사를 실시하여 개인정보취급자의 내부규정 및 법률 준수여부를 점검하고 있습니다.<br>

                    3) 내부관리계획의 수립 및 시행<br>
                    개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br>

                    4) 개인정보의 암호화<br>
                    귀하의 개인정보는 법에서 정하는 기준에 따라 암호화되어 저장•관리되고 있으며, 또한 파일 및 전송 데이터를 암호화 등 별도 보안기능을 사용하고 있습니다.<br>

                    5) 개인정보에 대한 접근 제한<br>
                    개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.<br>

                    6) 접속기록의 보관 및 위변조 방지<br>
                    개인정보처리시스템에 접속한 기록은 관련 법령에 정해진 바에 따라, 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위조, 변조, 도난 및 분실되지 않도록 보안기능 사용하고 있습니다.<br>

                    7) 문서보안을 위한 잠금장치 사용<br>
                    개인정보가 포함된 서류, 보조저장매체 등을 잠금 장치가 있는 안전한 장소에 보관하고 있습니다.<br>

                    8) 비인가자에 대한 출입 통제<br>
                    개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.<br>
                    ④ 개인정보 위원회 등 정보보호 활동<br>
                    바스켓은 고객님의 개인정보보호를 위해 전문가분들과 협조하여 지속적으로 자문을 구하고 있습니다. 전문 변호사, 정보보호 분야 교수님 등으로 구성된 개인정보 위원회를 구성하고 주기적으로 개인정보보호 활동에 자문을 구하고 있습니다.<br>
                    9. 개인정보 취급방침 변경에 관한 정책은 다음과 같습니다.<br>
                    이 개인정보 취급방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.<br> 그러나 개인정보의 수집 및 활용, 제3자 제공 등과 같이 이용자의 권리에 중요한 변경의 사유가 발생하는 경우 최소 14일 전에 공지합니다. 또한 관련 법령이나 회사정책의 변경으로 불가피하게 취급방침을 변경해야 하는 경우, 웹사이트 공지사항을 통해 빠르게 알려드리고 있으니 참고하여 주시기 바랍니다.<br>

                    현재 개인정보취급방침 시행일자 : 2015년 11월 17일<br>