doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Vasket! :: 관리자 콘솔
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    style(type='text/css').
      body {text-align:center;}
      #content-body { }
      #img-body {}
      #img-plus {}
      .inputImg { width:300px;}
      #inputButton {width:100px;}
      table tr { width:800px;}
      table th {width:30%;}
  body
    h3 브랜드 상품 등록
    form(method="post" action="/reg_product" enctype="multipart/form-data")
      #title
        p 제목
        input(type="text" name="title" style="width: 800px; max-width: 800px;")
      #content-body
        p 내용
        textarea(rows="5" name="content" style="width:800px; max-width:800px;")
      #productDetail
        p 세부사항
        table
          tr
            th 상품명
            td.
              <input type='text' name='productName'>
          tr
            th 상품번호
            td.
              <input type='text' name='code'>
          tr
            th 카테고리
            td.
              <input type='text' name='category'>
          tr
            th 브랜드
            td.
              <input type='text' name='brand'>
          tr
            th 사이즈
            td.
              <input type='text' name='size'>
          tr
            th 제조국
            td.
              <input type='text' name='nation'>
          tr
            th 가격
            td.
              <input type='text' name='price'>
          tr
            th 재료, 원단
            td.
              <input type='text' name='material'>
          tr
            th 방수
            td.
              <input type='text' name='waterproof'>
          tr
            th 성별(남/여/공용)
            td.
              <input type='text' name='sex'>
          tr
            th 설명
            td.
              <input type='text' name='description'>
      #img-body
        input.inputImg(type="file" name="file")
        br
      #img-plus
        p(onclick="imgPlus();") 이미지 추가+

      input(type='submit' value='컨텐츠 등록')
    script.
      function imgPlus(){
        var before = document.getElementById('img-body').innerHTML;
        var plus ="<input class='inputImg' type='file' name='file'><br>"
        document.getElementById('img-body').innerHTML=before+plus;
      }