doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Vasket! :: 관리자 콘솔
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		style(type='text/css').

	body
		form(action="/reg_product" method="post")
			table
				tr
					th 상품명
					td.
						<input type="text" name="name">
				tr
					th 상품코드
					td.
						<input type="text" name="code">
				tr
					th 브랜드
					td
						select(name="brand")
							each val in brand
								option(value="#{val.brandNo}")= val.brandName
				tr
					th 원가
					td.
						<input type="text" name="price">
				tr
					th 수량
					td.
						<input type="text" name="inven">
				tr
					th 최대할인율
					td.
						<input type="text" name="discount">
				tr
					th 홍보 문구
					td.
						<input type="text" name="content">
				tr
					table#table2
						tr
							td#t4 SNS 공유
							td#t4.
								<input type="checkbox">
							td#t4.
								<input type="text" name="sns">
						tr
							td#t4 A/S 불가
							td#t4.
								<input type="checkbox">
							td#t4.
								<input type="text" name="as">
						tr
							td#t4 반품 불가
							td#t4.
								<input type="checkbox">
							td#t4.
								<input type="text" name="return">
			input(type="submit" value="상품 등록")