<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>vasket!</title>
<link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../public/bootstrap/css/bootstrap-theme.min.css">
<link href="../../public/bootstrap/css/kfonts2.css" rel="stylesheet">
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
   <style type="text/css">
   		body {padding-top: 50px; background-color: #BBBBBB;}
   		nav {background-color: #ffa800;}
   		.navbar li a {color:#595959;}
   		.navbar li a:hover {background-color:#ffa800; color:#000000;} 
   		.navbar .navbar-toggle {
		  border-color: #ffa800;
		}
		.navbar .navbar-toggle:hover,
		.navbar .navbar-toggle:focus {
		  background-color: #ffa800;
		}
		.navbar .navbar-toggle .icon-bar {
		  background-color: #ffffff;
		}
   </style>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><img src="../../public/images/logo.png" width="90px;"></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="main.html#event">event</a></li>
					<li><a href="main.html#service">service</a></li>
					<li><a href="main.html#about">about us</a></li>
					<li><a href="#event">logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>