doctype html
html(lang='ko-kr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 부트스트랩
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap-responsive.min.css' rel='stylesheet')
    link(href='/bootstrap/css/kfonts2.css', rel='stylesheet')
    style.
      body { padding-top: 120px; }
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
      width: 100%;
      margin: 0px;
      }
      .carousel-inner {
      max-height: 500px;
      }
      .carousel-control.left {background-image: none;}
      .carousel-control.right {background-image: none;}
      div#banner-div {
      height: 300px;
      }
      #bottom {
      background-color: white;
      text-align: center;
      }
      #menu-tag {
      font-size: 25px;
      }
      /*icon*/
      .service {margin: 40px 0;}
      .service a { display: block;}
      .icons {
      float: left;
      display: block;
      font-size: 30px;
      color: #fff;
      background-color: #FF8000;
      border-radius: 50%;
      text-align: center;
      margin-right: 15px ;
      padding: 20px;
      border:4px solid #FF8040;
      transition: all 0.3s;
      }
      .service a:hover .icons  { background-color:#0080C0;}
      .service a:hover .icontxt h4 { color: #0080FF; }
      .icontxt { display: block; color: #2E2F28; text-align: left; }
      .icontxt h4 {font-weight: bold; font-family: 'Source Sans Pro'; font-size: 20px; text-transform: uppercase; text-align: left;}
      @media (min-width: 768px) {
      .icons { margin: 0 auto; position: relative; left: 30%;}
      .icontxt h4 { text-align: center;}
      }
      @media (max-width: 360px) {
      .icontxt p { display: none; }
      .icontxt {line-height:10px; padding: 0; margin: 0;}
      .icontxt h4 { display: none; }
      .icons { padding: 20px; margin: 10px 0 10px 20px; }
      .book img { width: 50%; height: auto;}
      .control { display: none;}
      }
      .content3 {
      background: no-repeat center bottom fixed;
      background-size:cover;
      }
      #xs-nav {
      }
      #service {
      width: 100%;
      height: 500px;
      background-color: gray;
      }
      #about {
      width: 100%;
      height: 500px;
      background-color: skyblue;
      }
      .navbar-brand
      {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
      }
      #navbar {
      background-color: #ffa800;
      }
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container-fluid
      .container
        nav#navbar.navbar.navbar-default.navbar-fixed-top(role='navigation')
          // Brand and toggle get grouped for better mobile display
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Brand
            // Collect the nav links, forms, and other content for toggling
              ul.nav.navbar-nav.navbar-left
            #navbar-collapse-1.collapse.navbar-collapse
                li
                  a(href='#') 홈
                li
                  a(href='#service') 서비스 소개
                li
                  a(href='#about') 회사 소개
              ul.nav.navbar-nav.navbar-right
                li
                  - if(loggedIn) {
                    a(href='/logout') 로그OUT
                  - } else {
                    a(href='/login') 로그인
                  - }
                li
                  a(href='#') 회원가입
            // /.navbar-collapse
            #xs-nav.hidden-lg.hidden-md.hidden-sm.row
              .col-xs-4
                ul.nav.navbar
                  li
                    a(href='#') 홈
              .col-xs-4
                ul.nav.navbar
                  li
                    a(href='#service') 서비스
              .col-xs-4
                ul.nav.navbar
                  li
                    a(href='#about') 회사 소개
      // mobile version
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='/images/1.jpg', alt='Chania')
          .item
            img(src='/images/2.jpg', alt='Chania')
          .item
            img(src='/images/3.jpg', alt='Flower')
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      .container.hidden-xs
        .row.service
          .col-xs-4.col-md-4
            .row
              a(href='#')
                .col-xs-4.col-md-12
                  span.glyphicon.glyphicon-home.icons  
                .col-xs-8.col-md-12.icontxt
                  h4 Home
          .col-xs-4.col-md-4
            .row
              a(href='#service')
                .col-xs-4.col-md-12
                  span.glyphicon.glyphicon-list-alt.icons  
                .col-xs-8.col-md-12.icontxt
                  h4 Service
          .col-xs-4.col-md-4
            .row
              a(href='#about')
                .col-xs-4.col-md-12
                  span.glyphicon.glyphicon-question-sign.icons  
                .col-xs-8.col-md-12.icontxt
                  h4 About Us
      #service
      #about.about
      footer.content3
        .container
          | All contents copyright© vasket
    // container 끝
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='./bootstrap/js/bootstrap.min.js')
